.button-controls__item {
  width: 16px;
  height: 20px;
  outline: none;
  border: none;
  background-color: transparent;

  &--repeat {
    background: transparent url("../../img/svg/replay.svg") no-repeat;
    margin-right: 14px;
  }

  &--subtitles {
    background: transparent url("../../img/svg/subtitles.svg") no-repeat;
    margin-right: 14px;
  }

  &--fullscreen {
    background: transparent url("../../img/svg/fullscreen.svg") no-repeat;
    margin-right: 14px;
  }
}
