.feature {
  padding: 35px 21px 35px 70px;

  text-align: left;

  &--house {
    background-repeat: no-repeat;
    background-image: url("../../img/svg/icon-house.svg");
  }

  &--souvenir {
    background-repeat: no-repeat;
    background-image: url("../../img/svg/icon-gift.svg");
  }

  &--food {
    background-repeat: no-repeat;
    background-image: url("../../img/svg/icon-burger.svg");
  }
}
