.invite {
  padding: 36px 20px 16px;
  outline: 1px solid red;
  text-align: center;
  text-transform: uppercase;
}

.invite__title {
  margin-top: 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.invite__text {
  font-size: 14px;
  line-height: 24px;
}
