.main-navigation__toggle {
  position: absolute;
  right: 20px;
  top: 15px;
  outline: none;
  border: none;
  width: 23px;
  height: 23px;
  background: transparent url("../img/svg/icon-cross.svg") no-repeat;
}

.main-navigation__list {
  margin: 0;
  padding: 0;

  list-style: none;
  position: relative;
}

.main-navigation__item {
  background: @pale-blue;
  box-shadow: @shadow-menu;
}

.main-navigation__link {
  display: block;
  color: @white;
  padding: 8px 0;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .main-navigation__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__link {
    color: @black;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    padding: 0;
  }

  .main-navigation__item {
    background: transparent;
    box-shadow: none;
  }
}
